DATABASE_URL=
DIRECT_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

DOKPLOY_URL=
DOKPLOY_KEY=
DOKPLOY_ENVIRONMENT_ID=

REDIS_URL=

GITHUB_APP_ID=
GITHUB_API_BASE_UR=https://api.github.com
GITHUB_API_VERSION=2022-11-28
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_INSTALL_URL=https://github.com/apps/gori-deploy-dev/installations/new
GITHUB_TOKEN=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=